REACT_APP_ENTRA_EXTERNAL_CLIENT_ID=00000000-0000-0000-0000-000000000000
REACT_APP_ENTRA_EXTERNAL_AUTHORITY=https://YOUR_EXTERNAL_TENANT_ID.ciamlogin.com/YOUR_EXTERNAL_TENANT_ID
REACT_APP_ENTRA_WORKFORCE_CLIENT_ID=00000000-0000-0000-0000-000000000000
REACT_APP_ENTRA_WORKFORCE_AUTHORITY=https://login.microsoftonline.com/YOUR_WORKFORCE_TENANT_ID
